*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  font-family: "Poppins", sans-serif !important;
  font-style: normal;
background:linear-gradient(to bottom,#1c5c89   , #e9edf4 ) ;
height: max-content !important ;

}